.index{
    text-align: center;

}
.Header{
    background-color: rgb(123, 219, 187);
    padding: 20px;
    
}
.body{
    background-color: rgb(201, 111, 141);
}
.Footer{
    background-color: rgb(123, 219, 187);
    padding: 20px;
}
*{
    margin:0;
    padding:0;
}